.hand-container {
	display: grid;
	width: 100%;
}

.cols2 {
	grid-template-columns: repeat(2, 1fr);
}

.cols3 {
	grid-template-columns: repeat(3, 1fr);
}

.cols4 {
	grid-template-columns: repeat(4, 1fr);
}

.cols5 {
	grid-template-columns: repeat(5, 1fr);
}

.hand-wrapper {
	margin: 1em;
	display: flex;
	justify-content: center;
}
